@font-face {
  font-family: "nnsqr-eb";
  src: url(../img/main/NanumSquareRoundOTFEB.otf);
}
@font-face {
  font-family: "nnsqr-b";
  src: url(../img/main/NanumSquareRoundOTFB.otf);
}
@font-face {
  font-family: "nnsqr-r";
  src: url(../img/main/NanumSquareRoundOTFR.otf);
}
@font-face {
  font-family: "nnsqr-l";
  src: url(../img/main/NanumSquareRoundOTFL.otf);
}

html,
body {
  height: 100%;
  background-color: #f4fff3;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nnsqr-r;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Style the header */
header {
  /* background-color: #8cbb6d; */
  color: #000;
  text-align: center;
  padding: 20px;
  font-family: nnsqr-eb;
}

header > a {
  text-decoration: none;
  color: inherit;
}

/* Style the main content area */
main {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex: 1;
}

/* Style the form elements */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border-style: solid;
  border-color: #8cbb6d;
  cursor: pointer;
}

button:hover {
  padding: 10px;
  background-color: #8cbb6d;
  color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-color: #8cbb6d;
  cursor: pointer;
}

#imgqr img {
  max-width: 320px;
  display: none;
}

@media (max-width: 480px) {
  main {
    max-width: 100%;
    padding: 10px;
  }

  input,
  select,
  button {
    width: 100%;
  }
}
