/*폰트 설정: 나눔스퀘어라운드 EB, B, R, L*/
@font-face {
    font-family: 'nnsqr-eb';
    src: url(main/NanumSquareRoundOTFEB.otf);
}
@font-face {
    font-family: 'nnsqr-b';
    src: url(main/NanumSquareRoundOTFB.otf);
}
@font-face {
    font-family: 'nnsqr-r';
    src: url(main/NanumSquareRoundOTFR.otf);
}
@font-face {
    font-family: 'nnsqr-l';
    src: url(main/NanumSquareRoundOTFL.otf);
}

/*태그 설정*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[id="club"] {
    display: none;
}

input[id="club"] + label {
    display: inline-block;
    width: 120px;
    height: 40px;
    border: 8px solid #dddddd;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #8cbb6d;
    border-radius: 50px;
}

input[type="checkbox"]:checked + label div {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFD56D;
    border-radius: 50px;
}

input[type="text"] {
    width: 250px;
    height: 60px;

    border: 1px solid #dddddd;

    font-family: 'nnsqr-r';
    font-size: 40px;
    text-align: center;

    display: flex;
    align-items: center;
}

/*클래스 설정*/
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #F4FFF3;

    display: flex;
    flex-direction: column;
}

.section {
    flex: 1;
}

.content {
    flex: 8;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    height: 50%;

    display: flex;
    align-items: center;

    font-family: 'nnsqr-eb';
    font-size: 310%;
    text-align: center;
    line-height: 65px;
    max-height: 45%;
}

.control-knob {
    height: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.club-img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.personal-name {
    height: 20%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-title {
    display: flex;
    justify-content: center;

    padding-bottom: 10px;

    font-family: 'nnsqr-b';
    font-size: 150%;
}

.test-start {
    height: 20%;

    display: flex;
    align-items: center;
}

.test-start-btn {
    width: 350px;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'nnsqr-eb';
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 3px solid #8cbb6d;
    border-radius: 10px;
    background-color: white;
}

/* PC (해상도 1024px)*/ 
@media screen and (min-width:1024px) {
    
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media screen and (min-width:768px) and (max-width:1023px) {
  
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media screen and (max-width:767px) {
  
}